h3 {
  font-size: 15px;
  font-weight: bolder;
}

.card {
  background-color: rgb(254, 254, 224);
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  margin-top: 15px;
  background-color: rgb(186, 152, 255);
}

h2, h1 {
  text-align: center;
  color: rgb(252, 238, 214);
}

.jumbotron {
  background-image: url(https://miro.medium.com/max/1400/0*OtJ2F86wY946UO1A);
}

.container {
  padding: 30px;
  border:solid #79f810 3px;
  background-color: rgb(241, 251, 251);
}

body {
  background-color: black;
}

.output {
  padding: 20px;
  font-size: larger;
  font-weight: bolder;
  font-style: italic;
}